{% include 'head.twig' %}
<body>
    {% include 'nav.twig' %}
    <h1>Delete</h1>
    <p><em>Are you sure you wish to delete this property?</em></p>
    <p>click 'submit' to confirm</p>
    {% include 'form.twig' with {'actionurl': '/deletepost'} %}
</body>
{% include 'foot.twig' %}