{% include 'head.twig' %}
<body>
{% include 'nav.twig' %}
<h1> Home </h1>
<div id="map"></div>
<form method="post" action="search.json" id="filter">
    <fieldset>
        <label for="search"><h3>Search for a property:</h3></label><br>
        <input type="text" name="search">
        <h3>Filter Resuts</h3>
        <label for="no_bedrooms">Number of Bedrooms</label>
            <select name="no_rooms">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7 or more</option>
            </select><br>
        <input type="radio" id="sale"
        name="sale" value="1" checked=>
        <label for="sale">Sale</label>
        <input type="radio" id="rent"
        name="sale" value="0">
        <label for="rent">Rent</label><br>
    <input type="submit" value="search">
    </fieldset>
</form>
<ol id="list">
</ol>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4G2Vp49AyrT46e9Nv-1cx955x6XktMW0&callback=initMap"
async defer></script>
{% include 'foot.twig' %}